<div>
    <h2>Name: @ViewBag.NewSurvey.Name</h2>
    <h2>Dojo Location: @ViewBag.NewSurvey.Dojo</h2>
    <h2>Favorite Language: @ViewBag.NewSurvey.Language</h2>
    <h2>Comments: @ViewBag.NewSurvey.Comments</h2>
</div>